{% extends "base.html" %}

{% set title = 'Business search' %}

{% block content %}
    <br>
    <h1>Search business</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.identifier.label }} </br>
            {{ form.identifier(size=64) }}<br>
            {% for error in form.identifier.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <div class="dropdown">
                {{ form.category_id.label }} </br>
                <button class="btn btn-secondary dropdown-toggle text-right" style="width:32.5rem;color: #6c757d; background-color: transparent" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ form.category_id.label }}
                </button>
                <div class="dropdown-menu" style="width:32.5rem;" aria-labelledby="dropdownMenuButton" >
                    {% for category in categories %}
                        <a class="dropdown-item" style="border:#6c757d solid 0.1px">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>    
            {% for error in form.category_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.location.label }}<br>
            {{ form.location(size=64) }}<br>
            {% for error in form.location.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=64) }}<br>
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
